img {
    width: 70%;
    margin-left: 5%;
}
body{
    background-color: lightblue;
}

h1{
    text-align: center;
}

.square{
    height: 70px;
    width: 70px; 
    background-color: gray;
    border: 1px solid black;
}

#square-1{
    background-color: white;
}
#square-3{
    background-color: white;
}
#square-5{
    background-color: white;
}
#square-7{
    background-color: white;
}
#square-10{
    background-color: white;
}
#square-12{
    background-color: white;
}
#square-14{
    background-color: white;
}
#square-16{
    background-color: white;
}
#square-17{
    background-color: white;
}
#square-19{
    background-color: white;
}
#square-21{
    background-color: white;
}
#square-23{
    background-color: white;
}
#square-26{
    background-color: white;
}
#square-28{
    background-color: white;
}
#square-30{
    background-color: white;
}
#square-32{
    background-color: white;
}
#square-33{
    background-color: white;
}
#square-35{
    background-color: white;
}
#square-37{
    background-color: white;
}
#square-39{
    background-color: white;
}
#square-42{
    background-color: white;
}
#square-44{
    background-color: white;
}
#square-46{
    background-color: white;
}
#square-48{
    background-color: white;
}
#square-49{
    background-color: white;
}
#square-51{
    background-color: white;
}
#square-53{
    background-color: white;
}
#square-55{
    background-color: white;
}
#square-58{
    background-color: white;
}
#square-60{
    background-color: white;
}
#square-62{
    background-color: white;
}
#square-64{
    background-color: white;
}